<h1>Importação de vendas</h1>

<table class="table">
  <tbody>
    <% @sale.items.each do |item| %>
      <tr>
        <td>
          <%= item.buyer %>
        </td>
        <td>
          <%= item.description %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.amount %>
        </td>
        <td>
          <%= item.address %>
        </td>
        <td>
          <%= item.vendor %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
